.header{
  display: grid;
  grid-template-columns: 480px 480px 480px 480px;
  width: 1920px;
  height: 70px;
  left: 0px;
  top: 0px;
  background: #1B1B1B;
}
.header > .logo .number .consultation {
  height: 29px;
  top: 20px;
}